<p>
  <b>Name:</b>
  <%=h @spotify_artist.name %>
</p>

<p>
  <b>Popularity:</b>
  <%=h @spotify_artist.popularity %>
</p>

<p>
  <b>Avatar url:</b>
  <%=h @spotify_artist.avatar_url %>
</p>

<p>
  <b>Genres:</b>
  <%=h @spotify_artist.genres %>
</p>


<%= link_to 'Edit', edit_spotify_artist_path(@spotify_artist) %> |
<%= link_to 'Back', spotify_artists_path %>