<h1>New spotify_track</h1>

<% form_for(@spotify_track) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :album %><br />
    <%= f.text_field :album %>
  </p>
  <p>
    <%= f.label :track_number %><br />
    <%= f.text_field :track_number %>
  </p>
  <p>
    <%= f.label :disc_number %><br />
    <%= f.text_field :disc_number %>
  </p>
  <p>
    <%= f.label :preview_url %><br />
    <%= f.text_field :preview_url %>
  </p>
  <p>
    <%= f.label :spotify_id %><br />
    <%= f.text_field :spotify_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', spotify_tracks_path %>